@charset "UTF-8";
@font-face {
	font-family: 'Ubuntu';
	src: url(../_fonts/Ubuntu/Ubuntu-Regular.ttf);
}

/* corpo página principal */

body {
	font-family: Ubuntu;
}

div.espaco-titulo {
	height: 114px;
	margin-bottom: 20px;
}

div.imagem {
	margin: auto;
	width: 1280px;
}

div.imagem img {
	width: 100%;
	margin: auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

section.corpo {
	width: 1280px;
	margin: auto;
	padding: 5px;
}

section.corpo p {
	text-align: justify;
	text-indent: 25px;
	color: rgba(0, 0, 0, 0.8);
}

section.corpo h3 {
	color: #ff5025;
}

section.corpo span {
	font-weight: bolder;
}

div.video {
	height: 720px;
	width: 1280px;
	margin: auto;
	margin-bottom: 15px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	padding: auto;
}

/* corpo página em desenvolvimento */

div.aviso {
	height: 400px;
	width: 1280px;
	margin: auto;
	text-align: center;
	margin-top: -50px;
}

div.aviso h1 {
	color: #ff5025;
	margin: 0px;
	margin-top: 300px;
	margin-bottom: 15px;
}

div.aviso-text {
	width: 650px;
	margin: auto;
}

/* capture the flag */

div.corpoCtf {
	width: 1280px;
	margin: auto;
	padding: 5px;
}

div.corpoCtf h2 {
	text-align: center;
	color: #ff5025;
	font-size: 40px;
}

div.corpoCtf p {
	text-align: justify;
	text-indent: 25px;
	color: rgba(0, 0, 0, 0.8);
}

div.imageCtf {
	width: 640px;
	margin: auto;
	padding: 5px;
	text-align: center;
}

div.respostas p {
	text-align: center;
	text-indent: 0px;
	color: rgba(0, 0, 0, 0.8);
	margin-top: 2px;
}

div.respostas {
	width: 650px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

div.rCTF {
	width: 640px;
	margin: auto;
	padding: 5px;
	text-align: left;
	margin-bottom: 25px;
}

div.rCTF#dez {
	margin-bottom: 2px;
}

div.rCTF input {
	margin: 0px;
	background-color: rgb(235, 235, 235);
	border: 1px solid rgba(0, 0, 0, 0.3);
	height: 28px;
	width: 530px;
	font-size: 16px;
	border-radius: 5px;
}

div.rCTF button {
	border: none;
 	color: white;
 	padding: 5px 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	height: 32px;
  	width: 100px;
  	cursor: pointer;
  	background-color: #084d6e;
  	border-radius: 5px;
  	transition: background-color 0.3s;
}

div.rCTF button:hover {
	background-color: #185f80;
}

div.rCTF h3 {
	margin: 0px;
	margin-bottom: 5px;
}

div.imageCtf button {
	border: none;
 	color: white;
 	padding: 5px 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
 	height: 32px;
  	cursor: pointer;
  	background-color: #084d6e;
  	border-radius: 5px;
  	transition: background-color 0.3s;
  }

div.imageCtf button:hover {
	background-color: #185f80;
}

/* corpo aulas */

div.corpoAulas {
	width: 1280px;
	margin: auto;
	padding: 5px;
}

div.corpoAulas h2 {
	text-align: center;
	color: #ff5025;
	font-size: 40px;
}

div.linksAulas {
	height: 390px;
	width: 800px;
	margin: auto;
	padding: 5px;
}

div.link {
	width: 800px;
	margin: 0px auto 10px auto;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 45px;
	padding-left: 25px;
	background-color: rgba(8, 77, 110, 0.2);
	transition: background-color 0.3s;
}

div.link:hover {
	background-color: rgba(8, 77, 110, 1);
}

div.linksAulas a {
	text-decoration: none;
	color: #084d6e;
	transition: color 0.3s;
}

div.linksAulas a:hover {
	color: #ff5025;
}

div.aula {
	width: 1280px;
	margin: auto;
	padding: 5px;
	margin-bottom: 10px;
	background-color: #eeeeee;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

div.aula h3 {
	text-align: center;
	margin: 10px 0px 10px 0px;
	color: #084d6e;
	font-size: 22.5px;
}

div.aula p {
	text-indent: 25px;
	text-align: justify;
	color: rgba(0, 0, 0, 0.8);
	margin: 0px 0px 5px 0px;
	padding: 5px;
	font-size: 20px;
	line-height: 1.5;
}

div.aula iframe {
	margin: 10px auto 0px auto;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* corpo contatos */

div.corpo-contatos {
	height: 500px;
	width: 815px;
	margin: 10px auto 10px auto;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

div.imagem-contatos {
	margin: auto;
	display: block;
	float: left;
	width: 500px;
	margin-right: -10px;
}

div.imagem-contatos img {
	height: 500px;
	width: 500px;
}

span.titulo-contatos h3 {
	text-align: center;
	font-size: 22.5px;
}

div.texto-contatos {
	display: block;
	float: right;
	text-align: left;
	width: 290px;
	padding: 10px;
}

div.texto-contatos h3 {
	color: #ff5025;
	margin: 0px;
}

span.linkedin h3 {
	color: #ff5025;
	margin: 0px;
	transition: color 0.3s;
}

div.texto-contatos a {
	text-decoration: none;
}

span.linkedin h3:hover {
	color: #084d6e;
}

div.texto-contatos h4 {
	margin: 0px;
	text-indent: 25px;
	margin-bottom: 25px;
}

div.ultimo h4 {
	margin-bottom: 10px;
}

div.icones-contatos {
	clear: both;
	margin: auto;
}

div.material-icons{
	margin-top: 30px;
}

a.fa {
  	font-size: 48px;
  	text-align: center;
  	text-decoration: none;
  	margin-right: 20px;
  	margin-bottom: 20px;
  	color: #084d6e;
  	transition: color 0.3s;
}

a.fa:hover {
    color: #ff5025;
}

a.fa-instagram {
 	margin-left: 90px;
}

a.fa-envelope {
	margin-left: 63px;
}

/* cabeçalho */

div#barra-topo {
	background-color: #084d6e;
	height: 110px;
	margin: -16px -8px 0px -8px;
	padding: 10px;
	position: fixed;
	width: 100%;
}

header.cabecalho {
	margin: auto;
	width: 1280px;
	color: white;
	margin-top: 8px;
	padding: 10px;
}	

header.cabecalho img {
	height: 120px;
	width: 120px;
	margin-top: -25px;
}

header.cabecalho h2 {
	display: none;
}

div.titulo {
	display: block;
	float: left;
	position: relative;
	text-transform: uppercase;
	text-align: center;
	padding: auto;
}

div.nome h1{
	padding: 0px;
	margin: 25px 0px 0px 0px;
}

div.logo {
	display: block;
	float: left;
}

div.nome {
	display: block;
	float: right;
	margin-left: 10px;
}

div.titulo a {
	color: white;
	text-decoration: none;
	transition: text-shadow 0.3s;
}

div.titulo a:hover {
	text-shadow: 0px 0px 5px white;
}

/* Menu */

span.menu {
	font-weight: bold;
}

nav#menu {
	display: block;
	float: right;
}

nav#menu h2 {
	display: none;
}

nav#menu ul {
	position: relative;
	list-style: none;
	text-align: right;
	padding: auto;
}

div.dropdown {
	position: relative;
  	display: inline-block;
}

div.dropdown a {
	cursor: pointer;
}

div.dropdown-content {
	display: none;
 	position: absolute;
 	background-color: #084f70;
 	min-width: 160px;
 	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 	z-index: 1;
}

div.dropdown-content a {
 	color: white;
 	padding: 22px 10px 0px 10px;
	text-decoration: none;
	display: block;
}

div.dropdown-content a:hover {
	background-color: #185f80;
}

div.dropdown:hover div.dropdown-content {
 	display: block;
}

nav#menu li {
	height: 40px;
	padding: 22px 10px 0px 10px;
	text-align: center;
	margin-top: -8px;
	display: inline-block;
	font-size: 20px;
}

nav#menu a {
	color: white;
	text-decoration: none;
	transition: color 0.3s;
}

nav#menu a:hover {
	color: #ff5025;
}

/* Rodapé */

div.barra-baixo {
	color: white;
	height: 300px;
	background-color: #302020;
	margin: 0px -8px -32px -8px;
}

div.conteudo-rodape{
	height: 230px;
	width: 1280px;
	margin: auto;
}

footer.rodape {
	padding-top: 17.5px;
	text-align: center;
	height: 70px;
	background-color: #403030;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

footer.rodape h3 {
	margin: 0px;
	margin-top: 5px;
	font-weight: normal;
	font-style: normal;
	font-family: arial;
	font-size: 17px;
	color: rgba(255, 255, 255, 0.6);
}

footer.rodape h4 {
	margin: 0px;
	font-weight: normal;
	font-style: normal;
	font-family: arial;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.6);
}

footer.rodape a {
	color: #ff5025;
	text-decoration: none;
}

div.box {
	float: left;
	display: inline-block;
	margin-top: 
}

div.box h4 {
	margin: 0px;
	margin-top: 25px;
	margin-bottom: -12px;
	text-transform: none;
	font-weight: normal;
	font-size: 18px;
	color: #afafaf;
}

div.box h4.h4-endereco {
	margin-bottom: -7px;
}

div.box h5 {
	margin: 0px;
	margin-top: 25px;
	margin-bottom: -12px;
	text-transform: none;
	font-weight: normal;
	font-size: 14px;
	color: #afafaf;
}

div#col-1 {
	height: 200px;
	width: 250px;
	margin-left: 200px;
}

div#col-1 ul {
	position: relative;
	list-style: none;
}

div#col-1 li {
	text-align: left;
	text-indent: -30px;
	padding: 5px;
}

div#col-2 {
	height: 200px;
	width: 250px;
	float: right;
	margin-right: 200px;
}

div.box p {
	text-align: justify;
}

div.box a {
	color: white;
	text-decoration: none;
	transition: color 0.3s;
}

div.box a:hover {
	color: #ff8045;
}

div#col-mid {
	height: 200px;
	width: 200px;
	margin-left: 20px;
}

div.box a.fa {
	font-size: 24px;
  	text-align: center;
  	text-decoration: none;
  	margin: 0px;
  	margin-right: 20px;
  	margin-top: 32px;
  	color: white;
  	transition: color 0.3s;
}

div.box a.fa:hover {
    color: #ff8045;
}
